<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Garage Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="row">

        <div class="col-10 card shadow mx-auto mt-3">

            <div class="card-header text-center bg-dark text-light mt-2">
                <h3>LES VOITURES DE MON GARAGE</h3>
            </div>

            <div class="my-2">
                <a href="/car/new" class="float-end btn btn-success my-1">AJOUTER</a>
            </div>

            <div class="card-content">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Marque</th>
                        <th scope="col">Modèle</th>
                        <th scope="col">Energie</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date d'achat</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% let dateNow= new Date() %>
                        <% allCars.forEach(function(car,icar) { %>
                            <% let dateCarFormated = car.dateBuy.toLocaleString("fr-FR", {year: "numeric", month: "numeric", day: "numeric"}); %>
                            <tr id=<%= `tr-${icar}`%> >
                                <td> <%= car.brandName %> </td>
                                <td> <%= car.modelName %> </td>
                                <td> <%= car.modelEnergy %> </td>
                                <td> <%= car.modelPrice %> </td>
                                <td style=<%= `color:${dateNow<car.dateBuy ? "blue" : "green"};` %> > <%= dateCarFormated %> </td>
                                <td>
                                    <a href=<%=`/car/edit/${car._id}`%> id=<%=`a-edit-${icar}`%> class="btn btn-warning">MODIFIER</a>
                                    <button data-id=<%=`${car._id}`%> id=<%=`btn-delete-${icar}`%> class="btn btn-danger btn-delete">SUPPRIMER</button>
                                </td>
                            </tr>
                        <% }) %>                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    let btnDeletes = document.querySelectorAll(".btn-delete");

    btnDeletes.forEach((btnDelete) => {
        // ajoute l'évènement click sur chaque bouton 
        btnDelete.addEventListener("click", (e) => {
            if (window.confirm("Voulez vous supprimer la voiture ?")) {
                // redirige vers l'url /car/delete/id
                window.location.href = "/car/delete/" + btnDelete.getAttribute("data-id");
            }
        });
    });
</script>
</body>
</html>
